body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  max-width: 1280px;
  margin: 0 auto;
}
/* ==nav section== */
.nav-container {
  margin-top: 50px;
}
.nav-section {
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 40px;
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  color: #424247;
  transition: 0.3s;
}
a:hover {
  /* border: 1px solid #131318;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px; */
  font-size: 1.2rem;
}
.nav-icon-section {
  display: flex;
  gap: 15px;
}
.primary-color {
  font-weight: bold;
  color: #ff5400;
}
#color {
  font-weight: bold;
  color: #ff5400;
}
/* banner section */
.banner-container {
  background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  padding: 105px 185px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.banner-title {
  font-size: 12vmin;
  color: whitesmoke;
  margin-top: 15px;
}
.banner-paragraph {
  color: #ffffff;
}
.banner-input-section {
  background-color: #ffffff5b;
  padding: 16px;
  border-radius: 10px;
  width: min-content;
  display: flex;
  gap: 15px;
  margin: auto;
}
#where-go {
  padding: 15px;
  width: 125px;
  border-radius: 5px;
  border: none;
}
#when {
  padding: 16px 85px 16px 16px;
  border-radius: 5px;
}
#select-type {
  padding: 16px 50px 16px 16px;
  border-radius: 5px;
}
.banner-input {
  padding: 16px 85px 16px 16px;
}
.banner-btn {
  border: none;
  padding: 10px 35px 10px 35px;
  border-radius: 5px;
  background-color: #ff5400;
  color: #ffffff;
  display: flex;
  gap: 8px;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}
.banner-btn:hover {
  /* background-color: #94dbff;
  border: 1px solid #131318;
  color: #131318;
  font-weight: bold; */
  font-size: 1.2rem;
}
/* our popular tours section */
.popular-tours-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-title {
  font-size: 6vmin;
  color: #131318;
}
.popular-paragraph {
  color: #858593;
  margin-top: 24px;
}
.popular-btn {
  border: none;
  background-color: #ff5400;
  color: #ffffff;
  padding: 10px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.popular-btn:hover {
  /* background-color: #94dbff;
  border: 1px solid #131318;
  color: #131318;
  font-weight: bold; */
  font-size: 1.2rem;
}
/* Destination section */
.destination-container {
  margin-top: 100px;
}
.destination-content-section {
  text-align: center;
}
.destination-title {
  font-size: 6vmin;
}
.destination-paragraph {
  color: #858593;
  margin-top: 24px;
  margin-bottom: 50px;
}
.place-section-1 {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.place-section-1 > img {
  flex-basis: 50%;
}
.place-section-2 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.place-section-2 > img {
  flex-basis: 50%;
}
.place-section-3 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.place-section-3 > img {
  flex-basis: 50%;
}
/* hotel service section */
.hotel-service-section {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.hotel-service-content {
  text-align: center;
  margin-top: 100px;
}
.hotel-service-title {
  font-size: 5vmin;
}
.hotel-service-paragraph {
  color: #858593;
  margin-bottom: 40px;
}
.hotel-section {
  border: 1px solid #fbb563;
  background-color: #eee6dc;
  padding: 32px;
  border-radius: 10px;
  flex-basis: 50%;
}
.hotel-title {
  font-size: 4vmin;
  color: #131318;
}
.hotel-paragraph {
  color: #858593;
}
.service-section {
  border: 1px solid #29cef6;
  background-color: #dbe8eb;
  padding: 32px;
  border-radius: 10px;
  flex-basis: 50%;
}
.service-title {
  font-size: 4vmin;
  color: #131318;
}
.service-paragraph {
  color: #858593;
}
.price-container {
  background-color: #e8d5d5;
  border: 1px solid #e94444;
  padding: 32px;
  border-radius: 10px;
  margin: 0 auto;
  width: 50%;
}
.price-title {
  font-size: 4vmin;
  color: #131318;
}
.price-paragraph {
  color: #858593;
}
/* <!-- =Deals & Discounts section */
.discounts-content-section {
  text-align: center;
  margin-top: 100px;
}
.discounts-title {
  font-size: 4vmin;
  color: #131318;
}
.light-gray {
  color: #64646f;
}

.card-container {
  background-color: #fff7f2cb;
  padding: 50px;
  width: 50%;
  border-radius: 20px;
}
.card {
  background-image: url(Images/Group\ 40.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card-section {
  display: flex;
  gap: 25px;
}
.card-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-title {
  font-size: 3vmin;
  color: #000;
}
.card-price {
  color: #ff5400;
  font-size: 2.5vmin;
  font-weight: bold;
}
.card-btn {
  border: none;
  background-color: #ff5400;
  color: #ffffff;
  padding: 14px 25px;
  border-radius: 10px;
  transition: 0.3s;
}
.card-btn:hover {
  font-size: 1rem;
}
.card-2 {
  background-image: url(Images/Group\ 39.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card-container-2 {
  background-color: #fff7f2cb;
  padding: 50px;
  width: 50%;
  margin-left: auto;
  border-radius: 20px;
}
/* simple perfect place section */
.perfect-place-container {
  display: flex;
  gap: 50px;
}
.perfect-place-title {
  font-size: 4.5vmin;
  margin-bottom: 25px;
}
.perfect-place-paragraph {
  color: #64646f;
  margin-bottom: 25px;
}
.perfect-place-container li {
  margin-bottom: 25px;
}
.place-btn {
  border: none;
  background-color: #ff5400;
  color: #ffffff;
  padding: 14px 25px;
  border-radius: 10px;
  margin-top: 25px;
  transition: 0.3s;
}
.place-btn:hover {
  font-size: 2.2vmin;
}
.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  flex-wrap: wrap;
  align-items: center;
}
.form-section {
  border: 1px solid #ff5400;
  padding: 40px;
  border-radius: 20px;
  height: fit-content;
}
.primary-color {
  margin-top: 25px;
  margin-bottom: 25px;
}
.form-section input {
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  border: none;
  background-color: #e7e7e8;
}
.Subscribe-btn {
  border: none;
  background-color: #ff5400;
  color: #ffffff;
  padding: 14px 25px;
  border-radius: 10px;
  width: 100%;
  transition: 0.3s;
}
.Subscribe-btn:hover {
  font-size: 2.2vmin;
}
.save-up {
  border: none;
  background-color: #ff5400;
  color: #ffffff;
  padding: 14px 25px;
  border-radius: 10px;
}
/* footer section */
.footer {
  justify-content: center;
}
.footer-container {
  background-color: #e7e7e8;
  text-align: center;
  padding: 110px;
  margin-top: 100px;
}
.footer-icon-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* responsive section */
@media (max-width: 576px) {
  .max-width {
    padding: 10px;
  }
  /* nav section */
  .nav-container {
    display: none;
  }
  /* banner section */
  .banner-container {
    padding: 24px;
    margin-top: 0;
  }
  .banner-title {
    font-size: 8vmin;
  }
  .banner-input-section {
    flex-direction: column;
    width: 80%;
  }
  #where-go {
    width: 90%;
  }
  .banner-btn {
    justify-content: center;
    align-items: center;
  }
  /*  Our Popular Tours section */
  picture img {
    width: 100%;
    margin-top: 15px;
  }
  /* Destination section */
  .place-section-1 {
    flex-wrap: wrap;
  }

  .place-section-1 img {
    width: 100%;
  }
  .place-section-2 {
    flex-direction: column;
  }
  .place-section-2 img {
    width: 100%;
    object-fit: cover;
  }
  .place-section-3 {
    flex-wrap: wrap;
  }
  .place-section-3 img {
    width: 100%;
  }
  /*   hotel service section */
  .hotel-service-section {
    flex-direction: column;
  }
  .price-container {
    width: auto;
  }
  /* <!-- =Deals & Discounts section */
  .discounts-content-section {
    margin-top: 20px;
  }
  .card {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card-container {
    padding: 15px;
    width: auto;
  }
  .card-2 {
    padding: 20px;
    margin-bottom: 20px;
  }
  .card-container-2 {
    padding: 15px;
    width: auto;
  }
  /* <!-- simple perfect place section --> */
  .perfect-place-container {
    flex-direction: column;
  }
  .perfect-place-container img {
    width: 100%;
  }
  /* from section */
  .form-container {
    margin-top: 20px;
  }
  .form-container img {
    width: 100%;
    margin-top: 20px;
  }
  /* footer section */
  .footer-container {
    padding: 30px;
    margin-top: 20px;
  }
}
